.cards h2 {
  margin-bottom: 1rem;
}

.cards .category {
  padding: 2rem 1rem;
  &:not(:last-child) {
    border-bottom: 1px var(--harpy-4) solid;
  }
}

.cards .category h3 {
  margin-bottom: 1rem;
}
